<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<style type="text/css">
			.el-header,
			.el-footer {
				background-color: #245269;
				color: #333;
				text-align: center;
				line-height: 60px;
			}
			
			[v-cloak] {
				display: none !important;
			}
			
			.el-aside {
				background-color: #096E75;
				color: #333;
				text-align: center;
				line-height: 200px;
			}
			
			.el-main {
				background-color: #FFF;
				color: #333;
				text-align: center;
				/*line-height: 160px;*/
			}
			
			body>.el-container {
				margin-bottom: 40px;
			}
			
			* {
				padding: 0px;
				margin: 0px;
			}
			
			.el-row,
			.el-col {
				padding: 0px;
				margin: 0px;
				text-align: center;
			}
			
			.el-col {
				/*border-radius: 4px;*/
				background-color: #FFF;
			}
			
			.el-col-bag {
				background-color: #245269;
			}
			
			.grid-content {
				border-radius: 4px;
				min-height: 36px;
			}
			
			.row-bg {
				padding: 10px 0;
				background-color: #245269;
			}
			/*卡片*/
			
			.text {
				font-size: 14px;
			}
			
			.item {
				margin-bottom: 18px;
			}
			
			.clearfix:before,
			.clearfix:after {
				display: table;
				content: "";
			}
			
			.clearfix:after {
				clear: both
			}
			
		
		</style>
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/jq_ajax_config.js"></script>
		<script type="text/javascript" src="js/menu_const.js"></script>
		<script type="text/javascript" src="js/view_filter.js"></script>
	</head>

	<body>
		<div class="indexApp" v-cloak>
			<el-container style='height:100vh;'>
				<el-header style="padding: 0px;">
					<el-row :gutter="20" type="flex" justify="center" style="margin: 0px;">
						<el-col :span="6" class="el-col-bag">
							<el-link href="竞拍首页.html">
								<h3>北京昭德文软件系统</h3></el-link>
						</el-col>
						<el-col :span="12" class="el-col-bag">
							<el-menu class="el-menu-demo" mode="horizontal" style="background-color: #245269;">
								<el-menu-item v-for="(menu,index) in Menus" :index="`${index+1}`" @click="leftSubMenus(menu.children1)">{{menu.text}}</el-menu-item>
							</el-menu>
						</el-col>
						<el-col :span="6" class="el-col-bag">
							<el-menu class="el-menu-demo" mode="horizontal" style="background-color: #245269;">
								<el-menu-item index="1">设置</el-menu-item>
								<el-menu-item index="2" @click="logOut">退出</el-menu-item>
							</el-menu>
						</el-col>
					</el-row>
				</el-header>
				<el-container>
					<el-aside width="200px">
						<el-container style='height:91.6vh;'>
							<el-main style="background-color: #096E75;padding: 0px;">
								<el-menu default-active="2" style="text-align: left;" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" background-color="#096E75" text-color="#fff" active-text-color="#ffd04b">
									<el-menu-item index="0">
										<i class="el-icon-menu"></i>
										<span slot="title">首页</span>
									</el-menu-item>
									<el-submenu v-for="(subm,index) in subMenus" :index="`${index+1}`">
										<template slot="title">
											<i class="el-icon-location"></i>
											<span>{{subm.text}}</span>
										</template>
										<el-menu-item-group>
											<el-menu-item v-for="(subname,index1) in subm.children2" :index="`${index+1}-${index1+1}`" @click="addTab(subname.text,subname.id)">{{subname.text}}</el-menu-item>
										</el-menu-item-group>
									</el-submenu>

								</el-menu>
							</el-main>
							<el-footer style="height: 70px; line-height: 30px; text-align: center;">
								<span>操作:{{rname}}</span>
								<br />
								<span>日期:{{nowtime}}</span>
							</el-footer>
						</el-container>
					</el-aside>
					<el-container>
						<el-main>
							<template>
								<el-tabs v-model="editableTabsValue" type="card" @tab-remove="removeTab" style="border: 1px solid #eee;height: 100%;">
									<el-tab-pane :closable="index!=0" v-for="(item, index) in editableTabs" :class="`pan${index}`" :key="item.name" :label="item.title" :name="item.name">
									</el-tab-pane>
								</el-tabs>
							</template>
							<template>
								<el-dialog @opened="handlerOpen" ref="modifdialog" :title="title" :visible.sync="isShow2" width="50%" :before-close="handleClose2" center>
									<div class="view"></div>
								</el-dialog>
							</template>
						</el-main>
					</el-container>
				</el-container>
			</el-container>
		</div>
	</body>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/echarts.js"></script>
	<script type="text/javascript" src="pqw/Component/myTable.js"></script>
	<script type="text/javascript" src="pqw/Component/myPagination.js"></script>
	<script type="text/javascript" src="pqw/Component/myButtonList.js"></script>
	<script type="text/javascript">
		var indexApp = new Vue({
			data: {
				user: {},
				rname: '',
				nowtime: new Date().getFullYear() + "-" + (new Date().getMonth() + 1) + "-" + new Date().getDate(),
				editableTabsValue: '0',
				tabIndex: 0,
				isShow2: false,
				title: '',
				editableTabs: [{
					title: '首页',
					name: '0'
				}],
				Menus: [],
				subMenus: [],
				tadaydesk: [{
					"value": 1,
					"name": "接车台次"
				}, {
					"value": 1,
					"name": "结算台次"
				}, {
					"value": 1,
					"name": "在修台次"
				}, {
					"value": 1,
					"name": "返修台次"
				}, {
					"value": 1,
					"name": "站内台次"
				}, {
					"value": 1,
					"name": "站外台次"
				}],
				tadaywarehouse: [{
					"value": 1,
					"name": "销售数量"
				}, {
					"value": 1,
					"name": "维修领料数量"
				}, {
					"value": 1,
					"name": "销售金额"
				}, {
					"value": 1,
					"name": "维修金额"
				}, {
					"value": 1,
					"name": "总库存数量"
				}, {
					"value": 1,
					"name": "总库存金额"
				}],
				tadaysettlment: [{
					"value": 1,
					"name": "现金"
				}, {
					"value": 1,
					"name": "卡消费"
				}, {
					"value": 1,
					"name": "其他"
				}],
				parameters: []
			},
			methods: {
				handleOpen(key, keyPath) {
					console.log(key, keyPath);
				},
				handleClose(key, keyPath) {
					console.log(key, keyPath);
				},
				leftSubMenus(twoMenu) {
					let _this = this;
					console.log(twoMenu)
					this.subMenus = twoMenu;
				},
				handleClose2(done) {
					done();
				},
				handlerOpen() {
					$(".view").load("view/view.html"); //ajax读取页面
				},
				viewStats(title, data) {
					this.title = title;
					this.parameters = data;
					this.isShow2 = true;
				},
				addTab(targetName, code) {
					var isok = true;
					this.editableTabs.forEach(function(val, index, arr) {
						if(val.title == targetName) {
							isok = false;
						}
					})
					if(!isok) {
						this.$message({
							message: '该页面已加载！',
							type: 'error'
						});
						return isok;
					}
					let newTabName = ++this.tabIndex + '';
					this.editableTabs.push({
						title: targetName,
						name: newTabName,
					});
					this.editableTabsValue = newTabName;
					let _this = this;
					this.$nextTick(function() {
						$(`.pan${newTabName}`).load(menuMapping[code]);
					})
				},
				removeTab(targetName) {
					let tabs = this.editableTabs;
					--this.tabIndex;
					let activeName = this.editableTabsValue;
					if(activeName === targetName) {
						tabs.forEach((tab, index) => {
							if(tab.name === targetName) {
								let nextTab = tabs[index + 1] || tabs[index - 1];
								if(nextTab) {
									activeName = nextTab.name;
								}
							}
						});
					}
					this.editableTabsValue = activeName;
					this.editableTabs = tabs.filter(tab => tab.name !== targetName);
				},
				logOut() {
					$.getJSON(`http://127.0.0.1:8080/lyh/Emps/loginOut`, (data) => {
						console.log(data)
						if(data.code == "200") {
							window.sessionStorage.clear();
							location.href = "login1.html"
						}
					});
				}
			},
			mounted() {
				let _this = this;
				//发送ajax获取用户的权限
				$.getJSON(`http://127.0.0.1:8080/lyh/Emps/getFunTree`, (data) => {
					console.log(data)
					_this.Menus = data;
				});

				this.user = JSON.parse(window.sessionStorage.getItem("user"));
				this.rname = this.user.tabRole.rname;
				$(`.pan0`).load('Main.html');

			}
		}).$mount(".indexApp");
	</script>

</html>