<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<style type="text/css">
			.el-header,
			.el-footer {
				background-color: #245269;
				color: #333;
				text-align: center;
				line-height: 60px;
			}
			
			[v-cloak] {
				display: none !important;
			}			
			.el-aside {
				background-color: #096E75;
				color: #333;
				text-align: center;
				line-height: 200px;
			}
			
			.el-main {
				background-color: #FFF;
				color: #333;
				text-align: center;
				/*line-height: 160px;*/
			}
			
			body>.el-container {
				margin-bottom: 40px;
			}
			
			* {
				padding: 0px;
				margin: 0px;
			}
			
			.el-row,
			.el-col {
				padding: 0px;
				margin: 0px;
				text-align: center;
			}
			
			.el-col {
				border-radius: 4px;
				background-color: #FFF;
			}
			
			.el-col-bag {
				background-color: #245269;
			}
			
			.grid-content {
				border-radius: 4px;
				min-height: 36px;
			}
			
			.row-bg {
				padding: 10px 0;
				background-color: #245269;
			}
			/*卡片*/
			
			.text {
				font-size: 14px;
			}
			
			.item {
				margin-bottom: 18px;
			}
			
			.clearfix:before,
			.clearfix:after {
				display: table;
				content: "";
			}
			
			.clearfix:after {
				clear: both
			}
			
			.box-card {
				width: 100%;
			}
		</style>
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/jq_ajax_config.js"></script>
	</head>

	<body>
		<div class="indexApp">
			<el-container style='height:100vh;'>
				<el-header style="padding: 0px;">
					<el-row :gutter="20" type="flex" justify="center" style="margin: 0px;">
						<el-col :span="6" class="el-col-bag">
							<el-link href="竞拍首页.html">
								<h3>北京昭德文软件系统</h3></el-link>
						</el-col>
						<el-col :span="12" class="el-col-bag">
							<el-menu class="el-menu-demo" mode="horizontal" style="background-color: #245269;">
								<el-menu-item index="1">维修</el-menu-item>
								<el-menu-item index="2">商品</el-menu-item>
								<el-menu-item index="3">前台</el-menu-item>
								<el-menu-item index="5">客服</el-menu-item>
								<el-menu-item index="6">数据</el-menu-item>
								<el-menu-item index="7">财务</el-menu-item>
								<el-menu-item index="8">人事</el-menu-item>
								<el-menu-item index="9" @click="">系统</el-menu-item>
							</el-menu>
						</el-col>
						<el-col :span="6" class="el-col-bag">
							<el-menu class="el-menu-demo" mode="horizontal" style="background-color: #245269;">
								<el-menu-item index="1">设置</el-menu-item>
								<el-menu-item index="2">退出</el-menu-item>
							</el-menu>
						</el-col>
					</el-row>
				</el-header>
				<el-container>
					<el-aside width="200px">
						<el-container style='height:91.6vh;'>
							<el-main style="background-color: #096E75;padding: 0px;">
								<el-menu default-active="2" style="text-align: left;" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" background-color="#096E75" text-color="#fff" active-text-color="#ffd04b">
									<el-menu-item index="2">
										<i class="el-icon-menu"></i>
										<span slot="title">首页</span>
									</el-menu-item>
									<el-submenu index="1">
										<template slot="title">
											<i class="el-icon-location"></i>
											<span>权限控制</span>
										</template>
										<el-menu-item-group>
											<el-menu-item index="1-1" @click="addTab('选项1','lyh/Emplimits.html')">员工权限控制</el-menu-item>
											<el-menu-item index="1-2" @click="addTab('选项2','lyh/Rolelimits.html')">角色权限控制</el-menu-item>
										</el-menu-item-group>
									</el-submenu>
									<el-submenu index="3">
										<template slot="title">
											<i class="el-icon-user"></i>
											<span>员工资料</span>
										</template>
										<el-menu-item-group>
											<el-menu-item index="3-1">组织机构</el-menu-item>
											<el-menu-item index="3-2" @click="addTab('岗位定义','pqw/jobDescription.html')">岗位定义</el-menu-item>
											<el-menu-item index="3-3" @click="addTab('离职登记','pqw/exitRegistration.html')">离职登记</el-menu-item>
											<el-menu-item index="3-4" @click="addTab('通讯名录','pqw/addressList.html')">通讯名录</el-menu-item>
										</el-menu-item-group>
									</el-submenu>
									<el-submenu index="4">
										<template slot="title">
											<i class="el-icon-setting"></i>
											<span>技工管理</span>
										</template>
										<el-menu-item-group>
											<el-menu-item index="4-1" @click="addTab('技工星级','pqw/mechanicStar.html')">技工星级</el-menu-item>
											<el-menu-item index="4-2" @click="addTab('班级技工','pqw/classMechanic.html')">班级技工</el-menu-item>
											<el-menu-item index="4-3" @click="addTab('外勤车辆','pqw/fieldVehicle.html')">外勤车辆</el-menu-item>
										</el-menu-item-group>
									</el-submenu>
									<el-submenu index="5">
										<template slot="title">
											<i class="el-icon-setting"></i>
											<span>接车派工</span>
										</template>
										<el-menu-item-group>
											<el-menu-item index="5-1" @click="addTab('维修接车','lzj/jieche.html')">维修接车</el-menu-item>
											<el-menu-item index="5-2" @click="addTab('竣工检查','lzj/jungong.html')">竣工检查</el-menu-item>
											<!--<el-menu-item index="5-3" @click="addTab('班级技工','pqw/classMechanic.html')">出厂登记</el-menu-item>
											<el-menu-item index="5-4" @click="addTab('班级技工','pqw/classMechanic.html')">维修登记</el-menu-item>-->
										</el-menu-item-group>
									</el-submenu>
									<el-submenu index="6">
										<template slot="title">
											<i class="el-icon-setting"></i>
											<span>客户档案</span>
										</template>
										<el-menu-item-group>
											<el-menu-item index="6-1" @click="addTab('客户资料','ckf/che.html')">客户资料</el-menu-item>
											<el-menu-item index="6-2" @click="addTab('车辆资料','ckf/che1.html')">车辆资料</el-menu-item>			
										</el-menu-item-group>
									</el-submenu>
									<el-submenu index="7">
										<template slot="title">
											<i class="el-icon-setting"></i>
											<span>前台结算</span>
										</template>
										<el-menu-item-group>
											<el-menu-item index="7-1" @click="addTab('结算中心','sh/jszx.html')">结算中心</el-menu-item>
											<el-menu-item index="7-2" @click="addTab('会员充值卡','sh/hyczk.html')">会员充值卡</el-menu-item>			
										</el-menu-item-group>
									</el-submenu>
								</el-menu>
							</el-main>
							<el-footer style="height: 70px; line-height: 30px; text-align: center;">
								<span>操作:超级管理员</span>
								<br />
								<span>日期:</span>
							</el-footer>
						</el-container>
					</el-aside>
					<el-container>
						<el-main>
							<template>
								<el-tabs v-model="editableTabsValue" type="card" @tab-remove="removeTab" style="border: 1px solid #eee;height: 100%;">
									<el-tab-pane :closable="index!=0" v-for="(item, index) in editableTabs" :class="`pan${index}`" :key="item.name" :label="item.title" :name="item.name">
									</el-tab-pane>
								</el-tabs>
							</template>
							<template>
								<el-dialog @opened="handlerOpen" ref="modifdialog" :title="title" :visible.sync="isShow2" width="50%" :before-close="handleClose2" center>
									<div class="view"></div>
								</el-dialog>
							</template>
						</el-main>
					</el-container>
				</el-container>
			</el-container>
		</div>
	</body>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/echarts.js"></script>
	<script type="text/javascript" src="pqw/Component/myTable.js"></script>
	<script type="text/javascript" src="pqw/Component/myPagination.js"></script>
	<script type="text/javascript" src="pqw/Component/myButtonList.js"></script>
	<script type="text/javascript">
		var indexApp = new Vue({
			data: {
				editableTabsValue: '0',
				tabIndex: 0,
				isShow2: false,
				title: '',
				editableTabs: [{
					title: '首页',
					name: '0'
				}],
				subMenus: [],
				tadaydesk: [{
					"value": 1,
					"name": "接车台次"
				}, {
					"value": 1,
					"name": "结算台次"
				}, {
					"value": 1,
					"name": "在修台次"
				}, {
					"value": 1,
					"name": "返修台次"
				}, {
					"value": 1,
					"name": "站内台次"
				}, {
					"value": 1,
					"name": "站外台次"
				}],
				tadaywarehouse: [{
					"value": 1,
					"name": "销售数量"
				}, {
					"value": 1,
					"name": "维修领料数量"
				}, {
					"value": 1,
					"name": "销售金额"
				}, {
					"value": 1,
					"name": "维修金额"
				}, {
					"value": 1,
					"name": "总库存数量"
				}, {
					"value": 1,
					"name": "总库存金额"
				}],
				tadaysettlment: [{
					"value": 1,
					"name": "现金"
				}, {
					"value": 1,
					"name": "卡消费"
				}, {
					"value": 1,
					"name": "其他"
				}],
				parameters: []
			},
			methods: {
				handleOpen(key, keyPath) {
					console.log(key, keyPath);
				},
				handleClose(key, keyPath) {
					console.log(key, keyPath);
				},
				leftSubMenus() {
					let _this = this;
					//发送ajax获取用户的权限
				},
				handleClose2(done) {
					done();
				},
				handlerOpen() {
					$(".view").load("view/view.html"); //ajax读取页面
				},
				viewStats(title, data) {
					this.title = title;
					this.parameters = data;
					this.isShow2 = true;
				},
				addTab(targetName, url) {
					var isok = true;
					this.editableTabs.forEach(function(val, index, arr) {
						if(val.title == targetName) {
							isok = false;
						}
					})
					if(!isok) {
						this.$message({
							message: '该页面已加载！',
							type: 'error'
						});
						return isok;
					}
					console.log(isok)
					let newTabName = ++this.tabIndex + '';
					this.editableTabs.push({
						title: targetName,
						name: newTabName,
					});
					this.editableTabsValue = newTabName;
					let _this = this;
					this.$nextTick(function() {
						console.log(url)
						console.log($(`.pan${newTabName}`).load(url))
						$(`.pan${newTabName}`).load(url);
					})
				},
				removeTab(targetName) {
					let tabs = this.editableTabs;
					--this.tabIndex;
					let activeName = this.editableTabsValue;
					if(activeName === targetName) {
						tabs.forEach((tab, index) => {
							if(tab.name === targetName) {
								let nextTab = tabs[index + 1] || tabs[index - 1];
								if(nextTab) {
									activeName = nextTab.name;
								}
							}
						});
					}
					this.editableTabsValue = activeName;
					this.editableTabs = tabs.filter(tab => tab.name !== targetName);
				}
			},
			mounted() {
				$(`.pan0`).load('Main.html');
			}
		}).$mount(".indexApp");
	</script>

</html>