<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			#addH1 {
				display: inline-block;
			}
			
			#addForm {
				float: right;
				padding-top: 21px;
			}
			
			#addBottonList {
				float: right;
				margin-bottom: 20px;
			}
		</style>
	</head>

	<body>
		<div id="organizationApp">
			<el-row class="tac">
				<div>
					<h1 id="addH1">组织机构</h1>
					<el-form id="addForm" :inline="true" class="demo-form-inline">
						<el-form-item>
							<el-input v-model="optionName" placeholder="部门/员工编号/姓名" clearable></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="warning" @click="selectPage">搜索</el-button>
						</el-form-item>
						</mybuttonlist>
					</el-form>
				</div>
				<el-col :span="5">
					<div>
						<el-popover placement="bottom" @show="clearObj" trigger="click">
							<h1>部门定义</h1>
							<span v-if="checkObj.no==''" style="color: red;">
								请选择一个部门!
							</span>
							<el-form v-if="checkObj.no!=''" label-width="70px" :model="addObj">
								<el-form-item label="部门编码">
									<el-input v-model="addObj.no" clearable></el-input>
								</el-form-item>
								<el-form-item label="部门名称">
									<el-input v-model="addObj.name" clearable></el-input>
								</el-form-item>
								<el-form-item label="新增位置">
									<el-radio-group v-model="radio1" size="medium">
										<el-radio-button label="下级"></el-radio-button>
										<el-radio-button label="同级"></el-radio-button>
									</el-radio-group>
								</el-form-item>
								<el-form-item>
									<el-button @click="addSubmit">确定</el-button>
								</el-form-item>
							</el-form>
							<el-button type="primary" slot="reference">新增</el-button>
						</el-popover>
						<el-popover placement="bottom" trigger="click">
							<h1>部门修改</h1>
							<span v-if="checkObj.no==''" style="color: red;">
								请选择一个部门!
							</span>
							<el-form v-if="checkObj.no!=''" label-width="70px" :model="checkObj">
								<el-form-item label="部门编码">
									<el-input v-model="checkObj.no" disabled></el-input>
								</el-form-item>
								<el-form-item label="部门名称">
									<el-input v-model="checkObj.name" clearable></el-input>
								</el-form-item>
								<el-form-item>
									<el-button @click="updateSubmit">确定</el-button>
								</el-form-item>
							</el-form>
							<el-button type="warning" slot="reference">修改</el-button>
						</el-popover>
						<el-button type="danger" @click="delDep">删除</el-button>
					</div>
					<el-input placeholder="输入关键字进行过滤" clearable v-model="filterText" style="width: 90%;margin-top: 10px;">
					</el-input>
					<el-tree class="filter-tree" icon-class="el-icon-arrow-right" :data="treeData" :props="defaultProps" highlight-current accordion @node-click="handleNodeClick" :filter-node-method="filterNode" ref="tree">
					</el-tree>
				</el-col>
				<el-col :span="19">
					<div>
						<el-button type="primary" @click="addEmp">新增员工</el-button>
						<el-button type="warning" @click="updateEmp">修改员工</el-button>
						<el-button type="danger" @click="delEmp">删除员工</el-button>
					</div>
					<mytable :tablehead="tableHead" :pagelist="pageList.list" @updateobj="updateObj">
						<el-table-column slot="index" label="机构" align="center">
							<template slot-scope="scope">{{scope.row.a}}</template>
						</el-table-column>
						<el-table-column slot="operating" label="籍贯" align="center">
							<template slot-scope="scope">{{scope.row.j}}</template>
						</el-table-column>
					</mytable>
					<mypagination :pagenum="pageList.pageNum" :pagesize="pageList.pageSize" :total="pageList.total" @selectpagelist="selectPageList">
					</mypagination>
				</el-col>
			</el-row>
			<el-dialog :title="title" :visible.sync="dialogVisible" width="50%" :before-close="handleClose" center>
				<div id='load1'>这是一段信息</div>
				<!--slot="footer" class="dialog-footer" -->
			</el-dialog>
		</div>
	</body>
	<script type="text/javascript">
		var organizationApp = new Vue({
			data: {
				dialogVisible: false,
				title: '',
				loadUrl: '',
				filterText: '',
				optionName: '',
				addObj: {
					no: '',
					name: ''
				},
				checkObj: {
					no: '',
					name: ''
				},
				isShow: false,
				radio1: '下级',
				organiObj: {
					a: ''
				},
				pageNum: 1,
				pageSize: 5,
				tableHead: [{
					label: '部门代码',
					property: 'b'
				}, {
					label: '部门名称',
					property: 'c'
				}, {
					label: '工号',
					property: 'd'
				}, {
					label: '姓名',
					property: 'e'
				}, {
					label: '性别',
					property: 'f'
				}, {
					label: '岗位名称',
					property: 'g'
				}, {
					label: '身体状况',
					property: 'h'
				}, {
					label: '身高',
					property: 'i'
				}],
				pageList: {
					pageNum: 1,
					pageSize: 5,
					total: 50,
					list: [{
						a: '成高',
						b: '21',
						c: '管钱部',
						d: '0EM0001',
						e: '11',
						f: '0',
						g: '前端',
						h: '良好',
						i: '1.83',
						j: '北京朝阳区'
					}, {
						a: '成高',
						b: '21',
						c: '管钱部',
						d: '0EM0001',
						e: '11',
						f: '0',
						g: '前端',
						h: '良好',
						i: '1.83',
						j: '北京朝阳区'
					}, {
						a: '成高',
						b: '21',
						c: '管钱部',
						d: '0EM0001',
						e: '11',
						f: '0',
						g: '前端',
						h: '良好',
						i: '1.83',
						j: '北京朝阳区'
					}, {
						a: '成高',
						b: '21',
						c: '管钱部',
						d: '0EM0001',
						e: '11',
						f: '0',
						g: '前端',
						h: '良好',
						i: '1.83',
						j: '北京朝阳区'
					}, {
						a: '成高',
						b: '21',
						c: '管钱部',
						d: '0EM0001',
						e: '11',
						f: '0',
						g: '前端',
						h: '良好',
						i: '1.83',
						j: '北京朝阳区'
					}]
				},
				treeData: [{
					id: 1,
					label: '北京德招文卡车系统',
					children: [{
						id: 2,
						label: '成高',
						children: [{
							id: 3,
							label: '管钱部',
						}, {
							id: 4,
							label: '人事部'
						}]
					}]
				}],
				defaultProps: {
					children: 'children',
					label: 'label'
				}
			},
			watch: {
				filterText(val) {
					this.$refs.tree.filter(val);
				}
			},
			methods: {
				updateObj(obj) {
					this.organiObj = obj;
				},
				handleClose(done) {
					done();
				},
				load(title, loadUrl) { //dialog对话框加载方法
					this.title = title;
					this.loadUrl = loadUrl;
					this.dialogVisible = true;
				},
				selectPageList(num, size) {
					this.pageNum = num;
					this.pageSize = size;
					this.selectPage();
				},
				selectPage() {
					alert(this.pageNum + "\t" + this.pageSize + "\t" + this.optionName);
				},
				filterNode(value, data) {
					if(!value) return true;
					return data.label.indexOf(value) !== -1;
				},
				handleNodeClick(data, nodes, tree) {
					console.log(data);
					console.log(nodes);
					console.log(tree);
					this.checkObj.no = '0328';
					this.optionName = '';
					this.$message.success('选择成功!' + JSON.stringify(data));
					alert(this.pageNum + "\t" + this.pageSize + "\t" + data.id);
				},
				addSubmit() {
					this.$message.success('选择成功!' + this.radio1 + '\t' + JSON.stringify(this.addObj));
				},
				updateSubmit() {
					this.$message.success('选择成功!' + JSON.stringify(this.checkObj));
				},
				addEmp() {
					if(this.checkObj.no == '') {
						this.$message.error('请选择一个部门!');
					} else {
						this.load('新增员工', 'AddEmployee');
					}
				},
				delDep() {
					if(this.checkObj.no == '') {
						this.$message.error('请选择一个部门!');
					} else {
						this.$confirm('此操作将删除数据, 是否继续?', '提示', {
							confirmButtonText: '确定',
							cancelButtonText: '取消',
							type: 'warning'
						}).then(() => {
							this.$message.success('删除成功!');
						}).catch(() => {
							this.$message.info('已取消删除!');
						});
					}
				},
				clearObj() {
					this.addObj = {};
					this.radio1 = '下级';
				},
				updateEmp() {
					if(this.organiObj.a == '') {
						this.$message.error('请选择一名员工!');
					} else {
						this.load('员工修改', 'UpdateEmployee');
					}
				},
				delEmp() {
					if(this.organiObj.a == '') {
						this.$message.error('请选择一名员工!');
					} else {
						this.$confirm('此操作将删除数据, 是否继续?', '提示', {
							confirmButtonText: '确定',
							cancelButtonText: '取消',
							type: 'warning'
						}).then(() => {
							this.$message.success('删除成功!');
						}).catch(() => {
							this.$message.info('已取消删除!');
						});
					}
				}
			},
			updated: function() { //v-if执行后加载页面
				$("#load1").load(this.loadUrl + '.html');
			},
			mounted() {

			}
		}).$mount("#organizationApp");
	</script>

</html>