<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			.mag {
				margin: 0px;
			}
			
			.box-card {
				width: 485px;
			}
		</style>
	</head>

	<body>
		<div class="meunsApp">
			<el-form label-width="auto">
				<el-card class="box-card" style="display:inline-block; margin: 5px ;" v-for="(system,index) in systems">
					<h4>{{system.text}}</h3>
					<div v-for="(chil1,index1) in system.children1" class="text item noju">
						<el-row :gutter="20" type="flex" justify="center" class="mag">
							<el-col :span="13">
								<h5 style="text-align: left;color: #ADADAD; line-height: 40px;font-size: 14px;">{{chil1.text}}</h5>
							</el-col>
							<el-col :span="11">
								<el-form-item style="font-size: 14px;" class="mag" :class="`pcx${index}${index1}`">	
									<el-checkbox-group v-model="fcheckeds">
										<el-checkbox :label="chil1.fid" :checked="yanzhen(chil1.text)"  @change="handleCheckAllChange(chil1.fid,chil1.children2)">全选</el-checkbox>						
									</el-checkbox-group>									
								</el-form-item>
							</el-col>
						</el-row>
						<el-row :gutter="20" type="flex" justify="right" class="mag">
							<el-form-item class="mag" label="功能" style="text-align: left;">
								<el-checkbox-group v-model="checkeds" style="">
									<el-checkbox :label="chil2.fid" :checked="yanzhen(chil2.text)"   :class="`cx${index}${index1}`" v-for="(chil2,index2) in chil1.children2" @change="children(chil1.fid,chil1.children2)">{{chil2.text}}</el-checkbox>
								</el-checkbox-group>
							</el-form-item>
						</el-row>
					</div>
				</el-card>	
				<el-row :gutter="20" type="flex" justify="center" style="margin: 0px;">
					<el-col :span="24">
						<el-button @click="canceloff" size="mini">取 消</el-button>
	    				<el-button type="primary" @click="makeSure" size="mini">确 定</el-button>
					</el-col>
				</el-row>
			</el-form>
		</div>

	</body>
	<script>var meunsApp = new Vue({
			data: {
				systems: [],
				rolepermissionsL: [],
				checkeds:[],
				fcheckeds:[],
				isok: true,
				upcheckeds:[],
				linshi:[],
				checkmap:new Map(),
				fcheckmap:new Map(),
				isok2:true,
				role:{},			
			},
			methods: {
				children(pfid,children2){								
					let _this=this;	
					let isok=false;
					let res=0;
					this.checkeds.forEach((value,index) =>{
						 children2.forEach((val, index) =>{
						 	if(val.fid==value){
						 		res++;
						 	}
			       		});
					})				 
			        console.log(res)
					_this.fcheckmap.forEach((value, key) =>{
						if(key==pfid){
							isok=true;
							return false;
						}
					})				
					if(isok){
						if(res==0){
							_this.fcheckmap.delete(pfid);
							_this.fcheckeds.forEach((cvalue,index)=>{
								if(cvalue==pfid){
									_this.fcheckeds.splice(index,1);
								}	
							});
						}
					}else{
							_this.fcheckmap.set(pfid,pfid);
							_this.fcheckeds.push(pfid); 
							_this.fcheckeds=[...new Set(_this.fcheckeds)];//数组去重
					}	
				},
				handleCheckAllChange(fid,val) {
					let _this=this;	
					let isok=false;
					_this.checkmap.forEach((value, key) =>{
						if(key==fid){
							isok=true;
							return false;
						}
					})
					if(isok){
						_this.checkmap.delete(fid);
						val.forEach((value,index)=>{
							_this.checkeds.forEach((cvalue,index)=>{
								if(cvalue==value.fid){
									_this.checkeds.splice(index,1);
								}	
							});
						});					
					}else{
						_this.checkmap.set(fid,val);
						val.forEach((value,index)=>{
							_this.checkeds.push(value.fid);
						});
						
					}
			   },
			   yanzhen(oneval){
			   		let isok=false;		
			   		let _this=this;
			   		this.rolepermissionsL.forEach((val,index)=>{
						val.children1.forEach((val1,index1)=>{					
							if(oneval==val1.text){
								isok=true;
								_this.checkmap.set(val1.fid,val1.children2);
							}
							val1.children2.forEach((val2,index2)=>{
								if(oneval==val2.text){
									isok=true;
								}	
							})
						})
					})			 
			   		return isok;
			   },
			   	makeSure() {
					let _this = this;
					this.$confirm('确定设置吗？')
						.then(_ => {
							let setArr = new Set();
							console.log(_this.fcheckeds)
							_this.fcheckeds.forEach((value, index) =>{
								setArr.add(value)						
							});
							_this.checkeds.forEach((value, index) =>{
								setArr.add(value);								
							});
							setArr.forEach((value, key) =>{
								let fpem={};
								fpem["rid"]=_this.role.rid;
								fpem["fid"]=value;
								_this.upcheckeds.push(fpem);
							})
							_this.role["tblperms"]=_this.upcheckeds;
							console.log("新增的权限")
							console.log(_this.upcheckeds);
							$.ajax({
									type: "put",
									url: "http://127.0.0.1:8080/lyh/Roles/Role",
									data: JSON.stringify(_this.role),
									contentType: "application/json",
									dataType: "JSON",
									success: function(data) {
										console.log(data);
										if(data.code == "200") {
											_this.$message({
												message: data.msg,
												type: 'success'
											});
											if(_this.role.isok){
												Emplimits.EmplimitsisShow2=false;
												Emplimits.empGoToPage();
											}else{
												rolelimits.rolelimitsisShow2 = false;
												rolelimits.roleGoToPage();
											}										
											
										} else if(data.code == "300") {
											_this.$message({
												message: data.msg,
												type: 'error'
											});
										}
									}
								});
							
						})
						.catch((event)=> {
							alert(event)
						});
				},
				canceloff() {
					let _this = this;
					this.$confirm('确认关闭？')
						.then(_ => {
							if(_this.role.isok){
								Emplimits.EmplimitsisShow2=false;
							}else{
								rolelimits.rolelimitsisShow2 = false;
							}
							
						})
						.catch(_ => {});
				},
			},
			mounted() {
				let _this = this;
				this.rolepermissionsL = JSON.parse(window.sessionStorage.getItem("rolepermissions"));
				this.role=JSON.parse(window.sessionStorage.getItem("role"));
				$.getJSON(`http://127.0.0.1:8080/lyh/Roles/getfunction`, (data) => {
					console.log(data)
					_this.systems = data;
				});
				_this.checkmap.set('0',[]);
				_this.fcheckmap.set('0',[]);
				console.log(this.rolepermissionsL)
				
			},
			beforeUpdate: function () {
			  	this.linshi=this.fcheckeds;
			}
			
			
		}).$mount(".meunsApp")
		
	</script>

</html>